@{
    ViewBag.Title = "MoonMax";
}
<link rel="stylesheet" href="@Url.Content("~/css/site.css")">
@{
    Layout = "_Layout.cshtml";
}
<!-- Add CSS links -->
<link rel="stylesheet" href="@Url.Content("~/css/site.css")">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap">
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")">
<link rel="stylesheet" href="@Url.Content("~/css/fontawesome-all.min.css")">
<link rel="stylesheet" href="@Url.Content("~/css/aos.min.css")">
<link rel="stylesheet" href="@Url.Content("~/css/swiper.css")">
<link rel="stylesheet" href="@Url.Content("~/css/style.css")">


<!-- Favicon -->
<link rel="icon" href="@Url.Content("~/images/favicon.png")">
<style>
    /* Additional CSS rule for the details page */
    /* .g {
        
     background-image: url("@Url.Content("~/images/home.jpg")"); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    } */

    /* Other existing styles */
   

    

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url("@Url.Content("~/images/home.jpg")");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #d3d3d3; /* Light grey background color */
        color: #333;
        text-align: left;
    }

    /* Navbar styles */
    .navbar {
        width: 100%;
        background-color: black; /* Changed background color to black */
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

        .navbar a {
            color: white;
            text-decoration: none;
            margin: 0 20px;
            font-weight: bold;
            font-size: 18px;
        }


    
</style>


<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Home Section -->

    <section class="home py-5 d-flex align-items-center" id="header">
        <div class="container text-light py-5" data-aos="fade-right">
            <h1 class="headline">Best <span class="home_text">Broadband</span><br>Internet Plans For You</h1>
            <p class="para para-light py-3">
                Step into the future of unlimited broadband plans with MoonMax fibernet technology.
                MoonMax allows you to enjoy the fastest connection with the speed of up to 1 Gbps, which means once you connect, you will get faster downloads and less buffering.
                At MoonMax, exceptional service is not just a promise, it is our standard.
            </p>
            <div class="d-flex align-items-center">
                <p class="p-2"><i class="fas fa-laptop-house fa-lg"></i></p>
                <p>Bytes Of Joy -Where Every Megabit Brings A Smile.</p>
            </div>
            <div class="d-flex align-items-center">
                <p class="p-2"><i class="fas fa-wifi fa-lg"></i></p>
                <p>Experience Broadband Like Never Before.</p>
            </div>
            <div class="my-3">
                <a class="btn" href="@Url.Action("Appointments", "Home")">Make an Appointment</a>
            </div>
        </div>
    </section>

    <!-- Information -->
    <section class="information">
        <div class="container-fluid">
            <div class="row text-light">
                <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
                    <i class="fas fa-tachometer-alt fa-3x p-2"></i>
                    <h4 class="py-3">Download 1 GBPS</h4>
                    <p class="para-light">
                        Experience lightning-speed connectivity with our 1 Gbps internet plan. Perfect for streaming, gaming, and large downloads
                    </p>
                </div>
                <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
                    <i class="fas fa-clock fa-3x p-2"></i>
                    <h4 class="py-3">99% Internet Uptime</h4>
                    <p class="para-light">We guarantee 99% uptime to ensure you're always connected when it matters most. Our resilient network is designed to keep you online without interruption </p>
                </div>
                <div class="col-lg-4 text-center p-5 text-dark" data-aos="zoom-in">
                    <i class="fas fa-headset fa-3x p-2"></i>
                    <h4 class="py-3">24/7 Support</h4>
                    <p class="para-light">Our dedicated support team is available 24/7 to assist you with any queries or issues. We're here to help whenever you need us</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="@Url.Content("~/images/up-arrow.png")" alt="alternative">
    </button>

   

    <!-- Scripts -->
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/purecounter.min.js")"></script>
    <script src="@Url.Content("~/js/swiper.min.js")"></script>
    <script src="@Url.Content("~/js/aos.js")"></script>
    <script src="@Url.Content("~/js/script.js")"></script>
</body>
</html>
